
*.class

data/.DS_Store

*.MF

*.jar

.idea/workspace.xml

.idea/uiDesigner.xml

.idea/artifacts/Codes_jar.xml

.idea/dataSources.local.xml

.DS_Store

.idea/dataSources/80bd0ab1-3eac-4b36-88d7-54cdec236bda.xml

.idea/dataSources/80bd0ab1-3eac-4b36-88d7-54cdec236bda/storage.xml

Codes.iml

Codes.iml
